{% extends 'base.html' %}
{% block content %}
<div class='container mt-4'>
  <div class="jumbotron">
  <h1 class="display-4">WEBEX!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content of webex  information.</p>
  <hr class="my-4">
  <p>It uses the fastest way of integrating your webex details in your customized application.</p>
  <a class="btn btn-primary btn-lg" href="/get/" role="button">Webex Teams</a>
  <a class="btn btn-primary btn-lg" href="/meeting/" role="button">Webex Meetings</a>
</div>
</div>
{% endblock %}
