{% extends 'base.html' %}
{% block content %}
<div class='container mt-5'>
  <div class='row'>
    <div class='col-4'>
      <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
  <div class="card-header">Lead 1</div>
  <div class="card-body">
    <h5 class="card-title">Customer Sales </h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div>
<div class='col-4'>
<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
  <div class="card-header">Lead 2</div>
  <div class="card-body">
    <h5 class="card-title">Marketing Info</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div>
<div class="card text-white bg-success mb-3" style="max-width: 18rem;">
  <div class="card-header">Lead 3</div>
  <div class="card-body">
    <h5 class="card-title">Operations Info</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div

  </div>
</div>











<div class='container mt-5'>
  <div class='container'>
    <div class='container'>
  <table class="table table-striped col-12">
  <thead>
    <tr>
      <th scope="col">SR.</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Contact</th>
      <th scope="col">Aaddress</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>987654321</td>
      <td>mumbai</td>
      <td>30-09-2020</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>987654321</td>
      <td>mumbai</td>
      <td>30-09-2020</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>987654321</td>
      <td>mumbai</td>
      <td>30-09-2020</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>987654321</td>
      <td>mumbai</td>
      <td>30-09-2020</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>987654321</td>
      <td>mumbai</td>
      <td>30-09-2020</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>987654321</td>
      <td>mumbai</td>
      <td>30-09-2020</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>987654321</td>
      <td>mumbai</td>
      <td>30-09-2020</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>987654321</td>
      <td>mumbai</td>
      <td>30-09-2020</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>987654321</td>
      <td>mumbai</td>
      <td>30-09-2020</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>987654321</td>
      <td>mumbai</td>
      <td>30-09-2020</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>987654321</td>
      <td>mumbai</td>
      <td>30-09-2020</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>987654321</td>
      <td>mumbai</td>
      <td>30-09-2020</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>987654321</td>
      <td>mumbai</td>
      <td>30-09-2020</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>987654321</td>
      <td>mumbai</td>
      <td>30-09-2020</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>987654321</td>
      <td>mumbai</td>
      <td>30-09-2020</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>987654321</td>
      <td>mumbai</td>
      <td>30-09-2020</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>987654321</td>
      <td>mumbai</td>
      <td>30-09-2020</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>987654321</td>
      <td>mumbai</td>
      <td>30-09-2020</td>
    </tr>

  </tbody>
</table>
</div>
</div>
</div>
{% endblock %}
